In [1]:
# Start with resize dense embeddings
import pandas as pd

embeddings_df = pd.read_csv('/data/large_files/embeddings/resize_dense_embeddings_pca.csv', index_col=[0])

In [5]:
embeddings_df[33:37]

    component 1  component 2  Frame
33     2.407277   -10.759149   33.0
34     3.022758   -10.280720   34.0
35     4.412217     3.880616    0.0
36     3.148277     3.663241    1.0

In [7]:
"""
0 - 6
7 - 13
14 - 20
21 - 27
28 - 34
35 - 41
42 - 48
49 - 55
56 - 62
63 - 70
"""
time_sects = []
for frame in embeddings_df.loc[:, 'Frame']:
    time_sects.append(frame // 7)
embeddings_df['Section'] = time_sects

In [8]:
embeddings_df[33:37]

    component 1  component 2  Frame  Section
33     2.407277   -10.759149   33.0      4.0
34     3.022758   -10.280720   34.0      4.0
35     4.412217     3.880616    0.0      0.0
36     3.148277     3.663241    1.0      0.0

In [9]:
import seaborn as sns

sns.displot(embeddings_df, x="component 1", hue="Section")

ModuleNotFoundError: No module named 'seaborn'